.form-container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-top: 58px;
}

.form-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-title,
.form-description {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-text-dark);
    border-radius: 4px;
    margin-bottom: 10px;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
}

.form-layout {
    display: flex;
    gap: 20px;
}

.form-editor {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
}

.form-field {
    margin-bottom: 20px;
}

.form-field input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-text-dark);
    border-radius: 4px;
}

.form-right-panel {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.form-fields-container {
    background-color: var(--color-card-background);
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--shadow-outer);
}

.form-fields-container h3 {
    margin-top: 0;
}

.form-fields-container button,
.form-save-button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-body-background);
    border: 1px solid var(--color-text-dark);
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
}

.form-fields-container button:hover,
.form-save-button:hover {
    box-shadow: var(--shadow-inner);
}

.form-save-button {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.form-field {
    margin-bottom: 20px;
    background-color: var(--color-text-light);
    padding: 15px;
    border-radius: 8px;
    box-shadow: var(--shadow-outer);
}

.toggle-panel-button {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

.mode-toggle-buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.mode-toggle-buttons > :first-child {
    border-bottom-left-radius: var(--radius);
}

.mode-toggle-buttons > :last-child {
    border-bottom-right-radius: var(--radius);
}

.mode-toggle-button {
    padding: 10px 20px;
    background-color: var(--color-text-light);
    border: none;
    cursor: pointer;
    box-shadow: 0 6px 6px -4px hsla(0, 0%, 0%, 0.2);
}

.mode-toggle-button:hover {
    box-shadow: var(--shadow-inner), 0 6px 6px -4px hsla(0, 0%, 0%, 0.2);
}

.mode-toggle-button.active {
    background-color: var(--color-primary);
    color: var(--color-text-light);
}

.mode-toggle-button.active:hover {
    box-shadow: var(--shadow-outer);
}

.result-page {
    background-color: var(--color-text-light);
    min-height: 500px;
    border: 1px solid var(var(--color-text-dark));
    border-radius: var(--radius);
    padding: 20px;
}
