.page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 2%;
	gap: 28px;
}

.welcomeContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
	width: 100%;
	max-width: var(--card-max-width);
	background-color: var(--color-card-background);
	padding: 22px 2%;
	box-shadow: var(--shadow-outer);
	border-radius: var(--radius);
	margin-top: 78px;
}

.content {
	height: 260px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	margin-top: 10px;
}

.text {
	max-width: 410px;
	line-height: 1.5rem;
}

.accentuate {
	color: var(--color-text-accent);
}

.logo {
	height: 260px;
}

.button {
	max-width: 192px;
	height: 42px;
}

.examplesContainer {
	width: 100%;
	max-width: var(--card-max-width);
	display: flex;
	gap: 24px;
}

.example {
	position: relative;
	width: 100%;
	background-color: var(--color-card-background);
	box-shadow: var(--shadow-outer);
	border-radius: var(--radius);
	border: 1px solid var(--color-primary);
	height: 800px;
	margin-bottom: 40px;
}

.exampleBtn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 30px;
}

@media screen and (max-width: 450px) {
	.logo {
		display: none;
	}

	.content {
		height: auto;
		align-items: center;
		gap: 20px;
	}
}
