.fieldContainer {
    width: 100%;
    max-width: var(--card-max-width);
    background-color: var(--color-card-background);
    padding: 22px max(8px, min(2%, 22px));
    box-shadow: var(--shadow-outer);
    border-radius: var(--radius);
    box-sizing: border-box;
}

.fieldInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
