.headerSection,
.buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.headerSection {
    padding-top: 50px;
    font-size: 1.4rem;
}
