.page {
	min-height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 2%;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: var(--card-max-width);
	background-color: var(--color-card-background);
	padding: 22px 2%;
	box-shadow: var(--shadow-outer);
	border-radius: var(--radius);
}

.logoContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}

.logo {
	height: 220px;
}

.brand {
	font-size: 6rem;
	transform: translateY(-10px);
	color: var(--color-text-accent);
}

.content {
	height: 220px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.title {
	font-size: 3rem;
	text-align: right;
	margin-bottom: 10px;
}

.button {
	max-width: 240px;
}

@media screen and (max-width: 860px) {
	.brand {
		font-size: 4rem;
	}
}

@media screen and (max-width: 760px) {
	.brand {
		display: none;
	}
}
